/* GENERAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.1rem;
  font-weight: 450;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* HEADER STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-left: 5%;
  height: 70px;
}

.navbar__brand {
  font-size: 1.25rem;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

.navbar__list {
  display: none;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.navbar__item {
  padding: 0.375rem 0.75rem;
}

.navbar__item--active {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.navbar__link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
  }
  .navbar__list {
    display: flex;
  }
}

/* FOOTER STYLES */
.footer {
  display: flex;
  border-top: 1px solid #ccc;
  justify-content: center;
}

.footer__text {
  font-weight: bolder;
}

/* MAIN STYLES */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px;
}

/* MAIN ARTICLE STYLES */
.main-article {
  display: block;
}

.main-article__img-container {
  display: flex;
  flex-basis: 40%;
  margin-right: 16px;
}

.main-article__img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.main-article__storage {
  color: #fff;
  background-color: #22c55e;
  padding: 0.3rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

.main-article__body {
  flex-basis: 60%;
}

.main-article__offer {
  text-transform: uppercase;
  color: #ff0000;
  font-weight: bolder;
  margin: 0;
}

.main-article__title {
  font-weight: bolder;
  color: #000;
  margin: 0;
}

.main-article__shop {
  display: flex;
  gap: 1rem;
}

.main-article__price {
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  margin: 0;
}

.main-article__btn {
  border: 1px solid blue;
  color: #fff;
  background-color: #007bff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.main-article__list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-article__item {
  display: flex;
  width: 47%;
}

.main-article__icon {
  font-size: 1.5rem;
  margin-right: 16px;
  padding-top: 7px;
}

@media (min-width: 768px) {
  .main-article {
    display: flex;
  }

  .main-article__list {
    flex-wrap: nowrap;
  }

  .main-article__img {
    margin-right: 16px;
  }
}

/* SECTION RECOMMENDED STYLES */
.recommended {
}

.recommended__title {
  font-size: 1.9rem;
  line-height: 1.8rem;
}

.recommended__container {
  display: block;
  gap: 1rem;
}

.recommended__article {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  flex-basis: 25%;
  margin-bottom: 16px;
}

.recommended__img {
  max-width: 100%;
  height: auto;
}

.recommended__body {
}

.recommended__subtitle {
  font-size: 1.35rem;
}

.recommended__text {
}

.recommended__btn {
  padding: 0.375rem 0.75rem;
  border: 1px solid blue;
  color: #fff;
  background-color: #007bff;
  border-radius: 0.25rem;
}
.recommended__btn--offer {
  background-color: #dc3545;
  border-color: #dc3545;
}

@media (min-width: 768px) {
  .recommended__container {
    display: flex;
  }
}

/* SORTEO STYLES */
.raffle {
  background-color: #eff6ff;
  padding: 3.25rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .raffle {
    display: flex;
    padding: 3.25rem;
    gap: 2rem;
  }

  .raffle__article {
    width: 70%;
    padding-right: 3rem;
  }

  .raffle__form {
    width: 30%;
  }
}

.raffle__article {
  width: 70%;
  padding-right: 3rem;
}
.raffle__title {
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  line-height: 3.3rem;
}
.raffle__text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.raffle__form {
  width: 30%;
}

.raffle__formgroup {
}

.raffle__label {
  display: block;
  margin-bottom: 0.8rem;
}

.raffle__input {
  display: block;
  width: 100%;
  padding: 0.975rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 7px;
  margin-bottom: 1.1rem;
}
.raffle__btn {
  padding: 0.375rem 0.75rem;
  border: 1px solid blue;
  color: #fff;
  background-color: #007bff;
  border-radius: 0.25rem;
}
