/* GENERAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 450;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* HEADER STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-left: 5%;
  height: 70px;
}

.navbar__brand {
  font-size: 1.25rem;
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
}

.navbar__list {
  display: none;
  gap: 1rem;
  list-style: none;
  text-decoration: none;
}

.navbar__item {
  padding: 0.375rem 0.75rem;
}

.navbar__item--active {
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.navbar__link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
  }
  .navbar__list {
    display: flex;
  }
}
